<div id="main">
<h1>denver web design</h1>
 
 <p>
 Denver Web Design Firm was created offer Denver, Colorado with awesome web site design and development.
 We are tired of seeing web sites that should have never been built and customers that have paid way too much
 for poor quality work. We are not your average web design firm, we are quite different. If you are looking for
 average we apologize that you found our website. If you are looking for exceptional we say welcome.
 </p>
 
 <h2>what services do we offer?</h2> 
  <p>
 We are more than qualified to help you in the following areas:
 <ul>
 <li>new web site or redesign</li>
 <li>creating an online store</li>
 <li>setting up a blog or forum</li>
 <li>maintaining your website</li>
 </ul>
 </p>
 <p>
 <u>Learn more about the web services we offer.</u>
 </p>
 
 
 </div>
 
 
 <div id="side">

<div id="cork_board">
<h2>let's get started</h2>
<ul>
<li>Learn about our services</li>
<li>View our Portfolio</li>
<li>Why choose us?</li>
<li>Pricing</li>
<li>Request a Quote</li>
</ul>
</div>
 
<h2>call us today</h2>
<ul>
<li>Local: 720-346-4673</li>
</ul>

 </div>
